@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Gothic+A1&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root {
   color-scheme: light only;
 }

* {
    margin: 0;
    padding: 0;
}

.vl {
   border-left: 6px solid rgb(0, 0, 0);
   height: 100%;
   width: 0
 }

 .rotate {
   position: absolute;
   display: block;
   transform: rotate(-90deg);
 }

body {
   background-color:rgb(255, 255, 255);
}

.topBar {
   height: 6vh;
   width: 100%;
   background-color: rgb(72, 72, 72);
}

.underTopBar {
   height: 8vh;
   width: 100%;
   background-color: rgb(130, 130, 130);
   border: 4px solid rgb(0, 0, 0);
   border-left: none;
   border-right: none;
}

.titleBox {
   height: 50px;
   width:300px;
   padding: 5px;
}

.title {
   position: relative;
   color: white;
   font-size:80px;
   padding: 5px;
   background-image: linear-gradient(yellow 0% 52%, blue 52% 100%);
   -webkit-background-clip: text;
   color: transparent;
   font-family: Oswald;
   top: -20%;
}

.afterTitleBox {
   position:relative ;
   left: 10px;
   color: white;
   font-size: 35px;
   letter-spacing:5px;
   border: transparent 0px solid;
   background-image:linear-gradient(yellow 0% 50%, blue 50% 100%);
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   top: -65%;
   text-decoration: none;
}

.titleBoxText {
   font-size:35px;
   text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
   font-family: Teko;
}

.englishButton {
   position: relative;
   height: 60%;
   top: 50%;
   transform: translateY(-50%);;
   left: 2%;
   width: 30%;
   background-color: white;
   border: black 4px solid;
   border-radius: 25px;
}
.englishButtonText {
   position: relative;
   font-size: 60px;
   top: 10%;
   transform: translate(-50%);
   letter-spacing: 5px;
}

.ukrainianButton {
   position: relative;
   height: 60%;
   transform: translateY(-72.5%);
   left: 68%;
   width: 30%;
   background-color: white;
   border: black 4px solid;
   border-radius: 25px;
}
.ukrainianButtonText {
   position: relative;
   font-size: 40px;
   top: 15%;
   transform: translate(-50%);
   letter-spacing: 2px;
}

.mainArea {
   position: relative;
   background-color: rgb(255, 255, 255);
   height: 75vh;
   width: 100%
}

.middleVl {
   position: relative;
   left: 50%;
   transform: translate(-50%);
}

.leftMainArea {
   position: absolute;
   height: 100%;
   width: 50%;
   top: 0%
}
.Para {
   position: relative;
   margin: 60px;
   font-size: 35px;
   font-family: Teko;
   letter-spacing: 2px;
}

.rightMainArea {
   position: absolute;
   height: 100%;
   width: 50%;
   top: 0%;
   left: 50%
}

.bottomLine {
   height: 4px;
   background-color: black;
}

.creditsSection {
   height: 7vh;
}
.credits {
   margin: 20px;
   font-size: 25px
}

.biggerText {
   font-size: 30px;
}

.button1 {
   position: absolute;
   height: 5vh;
   width: 100%;
}
.Button {
   position: relative;
   height: 60%;
   top: 18%;
   width: 50%;
   background-color: rgb(73, 73, 73);
   border: black 4px solid;
   border-radius: 25px;
   left: 35%;
   transform: translate(-50%);
}

.button2 {
   position: absolute;
   height: 5vh;
   width: 100%;
}

.ukrainianButtonText2 {
   position: relative;
   font-size: 40px;
   top: 15%;
   transform: translate(-50%);
   left: 20%;
   letter-spacing: 2px;
   color: white;
   text-decoration: none;
}

.englishButtonText2 {
   position: relative;
   font-size: 60px;
   transform: translate(-50%);
   left: 20%;
   letter-spacing: 5px;
   color: white;
   text-decoration: none;
}




/* Language variables: */

.mainArea1 {
   position: relative;
   height: 170vh;
   width: 100%
}

.row1 {
   position: relative;
   width: 100%;
   height: 15vh;
   border-bottom: black 4px solid
}
.row2 {
   position: relative;
   width: 100%;
   height: 15vh;
}

.rowText {
   margin: 50px;
   font-size: 50px;
}

.audioButton {
   border: none;
   background-image: linear-gradient(90deg,yellow 0% 48%,blue 52% 100%);
   zoom: 600%;
   position: relative;
   left: 50%;
   transform: translate(-50%);
   text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
   border-radius: 5px;
}
.audioButtonFirst {
   border: none;
   background-image: linear-gradient(90deg,yellow 0% 48%,blue 52% 100%);
   font-size: 50px;
   height: 100px;
   width: 250px;
   padding: 10px;
   color: white;
   text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
   position: relative;
   left: 50%;
   transform: translate(-50%);
   border-radius: 25px;
}

.alignRight {
   position: relative;
   float: right;
}
.alignLeft {
   position: relative;
   float: left;
}